/* Paintings View */
.clothTable {
    width: 40%; 
    display: block;
    margin-left: auto;
    margin-right:5%;
    margin-top:50px;
} 

.boxes{
    width: 30%;
    margin-left: 7%;
    margin-top:50px;
}

.paintings{
    display: flex;
    justify-content: space-between;
}

.painting{
    height: 104%;
    width: 84%;
    margin: 10%;
    cursor: pointer;
}
