.sidebar {
    width: 15%;
    height: 50vh;
    overflow: auto;
  }

  .sidebar ul {
    margin: 0;
    padding: 0;
  }

  .sidebar li {
    list-style: none;
    font-size: 1.5vw;
    text-decoration: none;
    padding: 10px;
    display: block;
    color: black;
  }

